.container {
	max-width: 730px;
	background: rgba(189,255,255,0.6);
	padding: 10px;
	border: 1px solid black;
	border-radius: 400px 100px;
}

@media screen and (max-widtg: 767px) {
	.container {
		padding: 15px;
	}
}